# Gradle / IntelliJ Platform build outputs & caches
.gradle/
build/
.intellijPlatform/
out/
.vscode/*
# IDEA module files
*.iml
.idea/

# Keep the Gradle wrapper jar
!gradle/wrapper/gradle-wrapper.jar
